<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Центр занятости</title>
    <link rel="stylesheet" href="static/css/menu.css">
</head>
<body>
    <div class="header">
        <h1>Центр занятости города Заречный</h1>
    </div>
    <div class="experience">
        <div class="menu box box3">
            <form action="{{ url_for('menu') }}" method="post">
                <button class="four">На главную</button>
            </form>
            <button class="one">Гражданам</button>
            <button class="two">Работодателям</button>

            <button class="three">ТК РФ</button>
            {% if 'username' not in session %}
                <form action="{{ url_for('login_page') }}" method="post">
                    <button type="submit">Личный кабинет</button>
                </form>
            {% endif %}
            {% if 'username' in session %}
                <form action="{{ url_for('profile') }}" method="post">
                    <button type="submit">Личный кабинет</button>
                </form>
            {% endif %}
            <div class="citizensP">
                <div class="citizensPDiv">
                    <a class="contentDiv" href="/searchWork">Просмотр вакансий</a>
                    <a class="contentDiv" href="/summary">Оставить резюме</a>
                    <!--<a class="contentDiv" href="">Информация 3</a>
                    <a class="contentDiv" href="">Информация 4</a>-->
                </div>
            </div>
            <div class="citizensPWork">
                <div class="citizensPDivWork">
                    <a class="contentDiv1" href="/search_worked">Найти сотрудников</a>
                    <a class="contentDiv1" href="/create_work">Создать объявление</a>
                    <!--<a class="contentDiv1" href="">Информация 3</a>
                    <a class="contentDiv1" href="">Информация 4</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="box box1">
        <div class="boss">
            <form class="b1" action="{{ url_for('search_work') }}" method="post">
                <button class="b b1" type="submit">Найти работу</button>
            </form>
            <form class="b2" action="{{ url_for('check_employer_data') }}" method="post">
                <button class="b b2" type="submit">Найти сотрудников</button>
            </form>
            <button class="b b3" id="applyButton">Оставить резюме</button>
            <!--<button class="b b4"><img src="static/image/RF.jpg" width="299px" height="299px"></button>-->
        </div>
    </div>
    <script>
        document.getElementById("applyButton").addEventListener("click", function() {
            // Проверяем, авторизован ли пользователь
            fetch('/check_auth')  // Отправляем GET-запрос на сервер для проверки авторизации
                .then(response => response.json())
                .then(data => {
                    if (data.authenticated) {
                        // Если пользователь авторизован, выводим alert
                        window.location.href = "/summary";
                    } else {
                        // Если пользователь не авторизован, перенаправляем на страницу входа
                        window.location.href = "/login_page";
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script src="static/js/menu.js"></script>
</body>
</html>