<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users with Resume</title>
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="stylesheet" href="static/css/searchWorked.css">
</head>
<body>
    <div class="header">
        <h1>Центр занятости города Заречный</h1>
    </div>
    <div class="experience">
        <div class="menu box box3">
            <form action="{{ url_for('menu') }}" method="post">
                <button class="four">На главную</button>
            </form>
            <button class="one">Гражданам</button>
            <button class="two">Работодателям</button>

            <button class="three">ТК РФ</button>
            {% if 'username' not in session %}
                <form action="{{ url_for('login_page') }}" method="post">
                    <button type="submit">Личный кабинет</button>
                </form>
            {% endif %}
            {% if 'username' in session %}
                <form action="{{ url_for('profile') }}" method="post">
                    <button type="submit">Личный кабинет</button>
                </form>
            {% endif %}
            <div class="citizensP">
                <div class="citizensPDiv">
                    <a class="contentDiv" href="/searchWork">Просмотр вакансий</a>
                    <a class="contentDiv" href="/summary">Оставить резюме</a>
                    <!--<a class="contentDiv" href="">Информация 3</a>
                    <a class="contentDiv" href="">Информация 4</a>-->
                </div>
            </div>
            <div class="citizensPWork">
                <div class="citizensPDivWork">
                    <a class="contentDiv1" href="/search_worked">Найти сотрудников</a>
                    <a class="contentDiv1" href="/create_work">Создать объявление</a>
                    <!--<a class="contentDiv1" href="">Информация 3</a>
                    <a class="contentDiv1" href="">Информация 4</a>-->
                </div>
            </div>
        </div>
    </div>

<div class="headData">
    <h1 class="text">Пользователи с резюме</h1>
    {% for user in users %}
        {% if user[3] != employer_username %}
            <div class="data">
                <p><strong>ФИО: </strong>{{ user[0] }} {{ user[1] }} {{ user[2] }}</p>
                <p><strong>Телефон: </strong>{{ user[4] }}</p>
                <a href="{{ url_for('download_resume', username=user[3]) }}" class="dow">Просмотреть резюме</a>
                <p><strong>Краткая информация из резюме: </strong><br>{{ user[5] | replace('\n', '<br>') | safe }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>


    <script src="static/js/menu.js"></script>
</body>
</html>
